[flake8]
exclude = __init__.py

# flake8-import-order
application-import-names = core
import-order-style = pycharm

extend-ignore = 
    # whitespace before ':'
    E203,
    # flake8-annotations
    # missing type annotation for function argument
    ANN001,
     # missing type annotation for *args
    ANN002,
    # missing type annotation for **kwargs
    ANN003,
    # missing type annotation for self in method
    ANN101,
    # missing type annotation for cls in classmethod
    ANN102,
    # missing return type annotation for public function
    ANN201,
    # missing return type annotation for protected function
    ANN202,
    # missing return type annotation for secret function
    ANN203,
    # missing return type annotation for special method
    ANN204,
    # missing return type annotation for staticmethod
    ANN205,
    # missing return type annotation for classmethod
    ANN206,

    # pep8-naming
    # camelcase imported as lowercase
    N813,
